body {
  font-family: 'Space Mono', monospace;
  background-color: black;
  color: white;
}

input {
  background-color: transparent;
  color: inherit;
  border: none;
}

.title {
  white-space: pre;
  font-size: 18px;
  line-height: 1.25;
}