/* =========================================
    common setting
    ascii art
    task
==========================================*/

/************* common setting *************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu Mono', 'Noto Sans JP', sans-serif;
  font-size: 100%;
  background-color: black;
  color: white;
  padding: 15px;
}

input {
  font: inherit;
  background-color: transparent;
  color: inherit;
  caret-color: white;
  border: none;
  outline: none;
}

/**************** ascii art ****************/
.asciiArt {
  white-space: pre;
}

/****************** task ******************/
#taskList span {
  display: block;
}